[run]
source = .
branch = True
disable_warnings = module-not-measured
omit = samples/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if self/.debug
    if typing.TYPE_CHECKING:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise ImproperlyConfigured
    raise TypeError
    raise NotImplementedError
    warnings.warn
    logger.debug
    logger.info
    logger.warning
    logger.error
    return NotHandled

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    if TYPE_CHECKING:
    # Don't complain if abstract methods ain't being called
    @abstract

ignore_errors = True
precision = 2
show_missing = True
skip_covered = True

[paths]
source = .
