dist: trusty
sudo: required
language: python
cache: pip

python:
- '3.6'
- '3.7'

install:
- pip install -r requirements/ci.txt

before_script:
- coverage erase

script:
- tox

after_success:
  - |
    if [[ -z "$TOXENV" && -z "$PYPI_DEPLOY" ]]; then
      chmod +x coverage.sh
      ./coverage.sh
    fi

deploy:
  provider: pypi
  user: mofr
  password:
    secure: pqGy6rQfuYsbGI2t6LTGGQUsmkg8yZ0JOQwoikZL9Nx7NvrpYM3IsBGEHZytClVA9uxy0fgzUaWD3w2zTWTei0mb80NqUSxorALToigCUH9sXIYb/H6qwLG+38bmZcIcrNMNoIhZ2USZwuSMpdyswBefOobNPlmWWQ4aPS8ChZrdiisc2F4KC27u0ErCjgyTdwvuEntWXEwjwx6JtsHhTyHAy2kpaAuLE+FHprGXBW3e7GW92JdYNlegmXWaalAexRwZ0ka1KbcBAyvYT0hX1bNJy8TmXwPfsFPeg3amxe64LlYQ21wO2ALe71b67chhb4HYHdiThQKzrWd23+oP06eM/gRPAEqSXzqpz0LLZHdpbMKppnsdZ5Amtp4zdcoKKwQP5ygkWrxxzYtP6GSKkkUo2cFrTVGV9TU5E+x3HCnWyL93YuJ8Lx5sJaY7VhoZy3pm0hNamNqCBrG9+fDbgk2jvhUqfgr9G24+ldpUuCBj/WaGzSTvbOejGwqkJbSzf4cwMA/e1d1Nbkz4iIQVxgx68O3Q6Rtw+JcmJ112UXozIX6dQl/AbaiPieOKq7V4bZY2QC0n5uSPpZw921OPBQybroV/hnpv76Kv3gEznn750NMmc5ZnOy+3ZYW8fWxCMw1IagjQBb5y0X+mSEbjPcx7pP7G4yH8VsoseCQAgVE=
  on:
    tags: true
