name: Testing

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10.2]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and configure Poetry
      uses: snok/install-poetry@v1
    - name: Install dependencies
      run: poetry install
    - name: Test with pytest
      run: |
        poetry run pytest -rfs --cov --cov-config=.coveragerc --cov-report="" --disable-warnings
        poetry run coverage combine || true
        poetry run coverage report
        poetry run codecov
