name: Testing

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  component-tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10.2]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and configure Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.3.2
    - name: Install dependencies
      run: poetry install
    - name: Test with pytest
      run: |
        poetry run pytest ./tests -rfs --cov --cov-config=.coveragerc --cov-report="" --disable-warnings
        cp .coverage ".coverage.${{ matrix.python-version }}"
    - name: Upload coverage report
      uses: actions/upload-artifact@v3
      with:
        name: coverage-reports
        path: ".coverage.${{ matrix.python-version }}"

  messaging-transactional-tests:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.3.2
      - name: Install dependencies
        run: poetry install
      - name: Test with pytest
        run: poetry run pytest ./winter_messaging_transactional/tests -rfs --disable-warnings
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-reports
          path: "test_coverage/"

  coverage-check:
    name: Coverage check
    runs-on: ubuntu-20.04
    needs: [component-tests, messaging-transactional-tests]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          pip3 install coverage==7.2.3
      - name: Download coverage reports
        uses: actions/download-artifact@v1
        with:
          name: coverage-reports
      - name: Combine reports
        run: |
          coverage combine coverage-reports
          coverage report --fail-under=100
